<ion-view view-title="通讯录">
  <ion-content>
  <!--  <ion-header-bar class="bar bar-header item-input-inset">
      <label class="item-input-wrapper">
        <i class="icon ion-ios-search placeholder-icon"></i>
        <input type="search" placeholder="关键字" ng-model="searchText" ng-change="searchChange()">
      </label>
      <button class="button button-clear" ng-click="cancelBtnClick()">
        取消
      </button>
    </ion-header-bar>
    <h3 class="text-center">{{departmentName}}</h3>
    <ion-list ng-show="hasUserIn">
      <a class="item-divider item">人员列表</a>
      <a class="item">
        <span class="text-left">刘茂同</span><span class="">集团信息中心</span>
      </a>
    </ion-list>

    <ion-list ng-show="hasDepartmentIn">
      <a class="item-divider item">单位列表</a>

    </ion-list>-->
  </ion-content>
</ion-view>
