<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
  <title>掌上江泉</title>

  <link href="../lib/ionic/css/ionic.css" rel="stylesheet">
  <link href="../css/style.css" rel="stylesheet">

  <!-- ionic/angularjs js -->
  <script src="../lib/ionic/js/ionic.bundle.min.js"></script>
  <script src="../js/ng-cordova.min.js"></script>
  <!-- your app's js -->
  <script src="../js/main-page.js"></script>
  <script src="../js/controllers.js"></script>
  <script src="../js/services.js"></script>
</head>
<body ng-app="starter">

<!--标题栏-->
<ion-nav-bar class="bar-positive">
  <ion-nav-back-button>
  </ion-nav-back-button>
</ion-nav-bar>

<!--导航栏-->
<ion-nav-view></ion-nav-view>
</body>
</html>
