<ion-view title="待办任务">
  <ion-content>
    <div class="card text-center row-center col-center"
         style="background-color: #1E90FF; width: 100%;height: 200px;margin: 0 auto;">
      <h3 class="text-center" style="  color: #ffffff; margin-top: 80px">待办任务</h3>
    </div>
    <ion-list class="card">
      <ion-item class="item-divider">待办任务</ion-item>
      <ion-item class="item"></ion-item>
      <ion-item class="item-divider">加签待办任务</ion-item>
      <ion-item class="item"></ion-item>
    </ion-list>
  </ion-content>
</ion-view>
