<?xml version='1.0' encoding='utf-8'?>
<widget id="com.ionicframework.mobileoa116062" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>掌上江泉</name>
    <description>
    掌上江泉移动办公平台
  </description>
    <author email="liumt@hsjq.com" href="http://hsjq.com">
    集团信息中心
  </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="*" />
    <allow-navigation href="*" />
    <access launch-external="yes" origin="tel:*" />
    <preference name="webviewbounce" value="false" />
    <preference name="UIWebViewBounce" value="false" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="android-minSdkVersion" value="16" />
    <preference name="BackupWebStorage" value="none" />
</widget>
